.statistic-info-container
  display: flex
  margin: 20px 0
  align-items: stretch

  .repositories-info
    flex: 2

  .repositories
    //background-color: #f7fff8
    //border: 1px solid #c8c8c8
    border-radius: 10px
    margin-left: 20px
    padding: 15px
    box-shadow: 2px 2px 12px $main-color-red
    border: 1px solid $main-color-red
    width: 100%
    flex: 5
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    .repository
      width: 45%
      min-width: 260px
      min-height: 120px
      background-color: #ffffff
      padding: 10px

      border-radius: 10px
      margin-bottom: 20px
      box-shadow: 4px 6px 6px #e3e3e3
      transition: $form-transition
      text-align: center
      box-sizing: border-box

      .info-flex
        display: flex
        align-items: center
        justify-content: space-between

      .info-container
        display: flex
        align-items: center

        img
          width: 20px
          height: 20px

        .copy-url-container
          background-size: contain
          position: relative

          &:hover .copy-url
            opacity: 1

          .copy-url
            position: absolute
            opacity: 0
            transition: $form-transition
            background-color: #41ba69
            color: $font-color-white
            font-size: 18px
            z-index: 3
            padding: 5px 7px
            border-radius: 10px
            border: 2px solid $font-color-white
            transform: translateY(-25%)

        img,
        .label
          margin: 3px 8px

      h3
        font-family: $font-monserat
        font-weight: 500
        font-size: 24px
        color: $font-color-black
        margin-left: 8px
        text-align: left

      &:hover
        cursor: pointer
        transform: scale(1.1) translate(-10px, -10px)
        box-shadow: $box-shadow



.more-info-wrapper
  z-index: 1000
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, .5)

  //filter: blur(2px)

  .more-info
    z-index: 10
    position: fixed
    border-radius: 10px
    padding: 15px 25px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    max-width: 1080px
    width: 90%
    max-height: 90%
    min-height: 300px
    background-color: #fff
    box-sizing: border-box
    overflow-y: auto

    hr
      margin: 15px 0

    .title-flex
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: $border

      .title-repos-name
        font-weight: 300
        font-family: $font-monserat
        font-size: 26px

      .title-exit
        transform: scaleX(1.3)
        cursor: pointer
        transition: $form-transition

        &:hover
          color: grey


.repository-container
  display: flex
  padding-top: 15px
  flex-wrap: wrap

  .repository-info
    flex: 1.5

  .repository-statistic
    flex: 2.5
    display: flex
    flex-direction: column
    justify-content: center

  .rep-info
    display: flex
    width: 100%
    align-items: center
    margin: 7px 0

    .label
      opacity: .6
      margin-right: 10px
      flex: 80px 2 1

    .data
      flex: 100px 2 1

  .statistic-container
    padding-top: 20px

@media (max-width: 1200px)
  .statistic-info-container
    flex-wrap: wrap

    & > div
      flex: auto !important

    .repositories-info
      padding-bottom: 20px

    .repositories
      margin-left: 0

    .copy-url
      right: -10px
      bottom: 20px

@media (max-width: 650px)
  .statistic-info-container
    .repositories
      .repository
        width: 95%

  .repository-statistic
    margin: 15px auto
