.user-statistic-container
  @include section-container
  padding-top: 10px

.no-blur-section
  backdrop-filter: none
  background-color: rgba(255, 255, 255, 0.8)

.repositories-info
  flex: 1
  padding: 5px 0

.repositories-flex-container
  display: flex
  align-items: end
  justify-content: space-between

.repositories
  //background-color: #f7fff8
  //border: 1px solid #c8c8c8
  border-radius: 15px
  padding: 15px
  //box-shadow: 2px 2px 12px $main-color-red
  //border: 1px solid $main-color-red
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  .repository
    width: 30%
    min-width: 260px
    min-height: 120px
    background-color: #ffffff
    padding: 10px

    border-radius: 10px
    margin-bottom: 20px
    box-shadow: 4px 6px 6px #e3e3e3
    transition: $form-transition
    text-align: center
    box-sizing: border-box

    .info-flex
      display: flex
      align-items: center
      justify-content: space-between

    .info-container
      display: flex
      align-items: center

      img
        width: 20px
        height: 20px

      .copy-url-container
        background-size: contain
        position: relative

        &:hover .copy-url
          opacity: 1

        .copy-url
          position: absolute
          opacity: 0
          transition: $form-transition
          background-color: #33ad33
          color: $font-color-white
          font-size: 18px
          z-index: 3
          padding: 5px 7px
          border-radius: 10px
          border: 2px solid $font-color-white
          transform: translateY(-25%)

      img,
      .label
        margin: 3px 8px

    h3
      font-family: $font-monserat
      font-weight: 500
      font-size: 24px
      color: $font-color-black
      margin-left: 8px
      text-align: left

    &:hover
      cursor: pointer
      transform: scale(1.1) translate(-10px, -10px)
      box-shadow: $box-shadow

.modal-show-animation
  transform: translate(-50%, -50%) scale(1) !important

.modal-wrapper-animation
  opacity: 1 !important

.more-info-wrapper
  z-index: 1000
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  background-color: rgba(0, 0, 0, .5)
  backdrop-filter: blur(10px)
  transition: $form-transition-slow


  //filter: blur(2px)

  .more-info
    z-index: 10
    position: fixed
    border-radius: 10px
    padding: 15px 25px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) scale(0)
    max-width: 1080px
    max-height: 70%
    width: 90%
    min-height: 300px
    background-color: #fff
    box-sizing: border-box
    overflow-y: auto
    transition: $form-transition-slow

    &::-webkit-scrollbar-track
      background-color: #ffffff

    &::-webkit-scrollbar-thumb
      background-color: #c2c2c2
      border-radius: 25px
      border: 4px solid #ffffff

    hr
      margin: 15px 0

    .title-flex
      display: flex
      align-items: center
      justify-content: space-between
      border-bottom: $border

      .title-repos-name
        font-weight: 300
        font-family: $font-monserat
        font-size: 26px

      .title-exit
        transform: scaleX(1.3)
        cursor: pointer
        transition: $form-transition

        &:hover
          color: grey


.repository-container
  display: flex
  padding-top: 15px
  flex-wrap: wrap

  .repository-info
    flex: 1.5

  .repository-statistic
    flex: 2.5
    display: flex
    flex-direction: column
    justify-content: center

  .rep-info
    display: flex
    width: 100%
    align-items: center
    margin: 7px 0

    .label
      opacity: .6
      margin-right: 10px
      flex: 80px 2 1

    .data
      flex: 100px 2 1

  .statistic-container
    padding-top: 20px

@media (max-width: 1200px)
  .statistic-info-container
    flex-wrap: wrap

    & > div
      flex: auto !important

    .repositories-info
      padding-bottom: 20px

    .repositories
      margin-left: 0

    .copy-url
      right: -10px
      bottom: 20px

@media (max-width: 650px)
  .statistic-info-container
    .repositories
      .repository
        width: 95%

  .repository-statistic
    width: 100%
    margin: 15px auto

@media (max-width: 950px)
  .repositories
    .repository
      width: 45% !important

  .repository-statistic
    width: 100%
    margin: 15px auto
