@mixin chart-flex-container
  display: flex
  justify-content: space-between
  align-items: center

.timespan-change-button
  letter-spacing: 0.7px
  display: inline-block
  margin-left: 10px

.chart-flex-container
  margin-top: 5px
  @include chart-flex-container

  .buttons-flex-container
    @include chart-flex-container

.select-flex-container
  display: flex
  align-items: center
  justify-content: flex-end

  select
    margin: 10px 0 10px 10px
    padding: 5px
    font-size: 18px
    outline: none
    border: 1px solid $main-color-brown
    border-radius: 10px


.chart-checkbox
  display: flex
  justify-content: flex-end
  margin-left: auto

@media (max-width: 800px)
  .chart-flex-container
    flex-wrap: wrap

    h3
      margin-bottom: 10px

    .buttons-flex-container
      margin-left: auto
