$backgroung: #fff6ef
$font-color-black: #333
$font-roboto: 'Roboto', sans-serif
$font-monserat: 'Monserat', sans-serif
$box-shadow: 2px 2px 12px #cccccc
$border: 2px solid #cccccc
$form-transition: all .1s linear
$form-transition-slow: all .2s linear
$font-color-white: #fffcfc
$main-color-red: #e85884
$main-color-green: #1b9320
$main-color-brown: #dc6220
$main-color-blue: #1b8dcb

@mixin section-container
  backdrop-filter: blur(5px)
  margin-top: 40px
  background-color: rgba(255, 255, 255, 0.75)
  border: 1px solid $main-color-brown
  padding: 20px
  border-radius: 15px

*
  margin: 0
  padding: 0
  font-family: $font-roboto
  color: $font-color-black

body
  background-color: $backgroung

.container
  margin: 10px auto
  max-width: 1080px
  padding: 10px
  border-radius: 15px

.title
  font-weight: 300
  font-family: $font-monserat
  border-bottom: 2px solid $main-color-brown
  font-size: 26px

.bg-wrapper
  position: absolute
  background-image: url('./images/background/desert.jpg')
  width: 100%
  height: 3000px
  z-index: -1
  transition: $form-transition

.spinner
  width: 100px
  height: 50px
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  margin: auto
  text-align: center

  .ball
    width: 20px
    height: 20px
    background-color: blue
    border-radius: 50%
    display: inline-block
    animation: motion 3s infinite

  p
    color: blue
    margin-top: 5px
    font-family: sans-serif
    letter-spacing: 3px
    font-size: 10px

@keyframes motion
  0%
    transform: translateX(0) scale(1)
  25%
    transform: translateX(-50px) scale(0.3)
  50%
    transform: translateX(0) scale(1)
  75%
    transform: translateX(50px) scale(0.3)
  100%
    transform: translateX(0) scale(1)


.more-info-show-button
  display: block
  margin-left: auto
  padding: 8px
  border-radius: 15px
  font-size: 18px
  font-family: $font-monserat
  border: none
  outline: none
  background-color: $main-color-brown
  color: $font-color-white
  cursor: pointer
  transition: $form-transition

  &:disabled
    background-color: $main-color-blue
    cursor: auto

    &:hover
      background-color: $main-color-blue

  &:hover
    //background-color: #ce5210
    background-color: darken($main-color-brown, 5%)



::-webkit-scrollbar
  width: 14px


::-webkit-scrollbar-thumb
  background-color: #c2c2c2
  border-radius: 25px
  border: 4px solid #ac9891

::-webkit-scrollbar-track
  background-color: #ac9891
  opacity: .5





@import "components/Search/search"
@import "components/UserInfo/user-inro"
@import "components/RepositoryInfo/MainStatistics"
@import "components/NotFound/NotFound"
@import "components/LanguagesStats/Languages"
@import "components/CommitStatistic/CommitStatistic"
@import "components/Pagination/Pagination"
@import "components/RepositoryInfo/Collaborators/Collaborators"
@import "components/UserSearch/UserSearch"
